.contiLayout {
  @apply w-full min-h-full flex flex-row text-xs text-text-300 font-bold;

  .contiComponents {
    width: calc(100% - 250px);
    height: max-content;
    .react-grid-layout {
      @apply inline-block w-full mb-64;
    }
  }
  .contiProperties {
    @apply h-full flex flex-col pr-2 fixed top-0 right-0 overflow-y-scroll;
    width: 250px;
    margin-top: 0.625rem;

    .bp3-dialog {
      box-shadow: 2px 8px 3px rgba(16, 22, 26, 0.2);
    }
  }
}
